PROJECT_NAME=ecommerce-spark-warehouse
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=ecommerce_ads
MYSQL_USER=ecommerce
MYSQL_PASSWORD=ecommerce_password
HDFS_NAMENODE=hdfs://namenode:8020
HIVE_SERVER_HOST=hive-server2
HIVE_SERVER_PORT=10000
SPARK_MASTER_URL=spark://spark-master:7077
BACKEND_PORT=8000
FRONTEND_PORT=8080
